In [2]:
import pandas as pd
import numpy as np

In [11]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail()

     0   1   ...  48  49
995  73  28  ...   9  80
996  22  55  ...  66   4
..   ..  ..  ...  ..  ..
998  67  96  ...  48  93
999  76   9  ...  90  26

[5 rows x 50 columns]

In [7]:
pd.options.display.max_rows = 4
pd.options.display.max_columns = 4

In [8]:
df

     0   1   ...  48  49
0    93  46  ...  37  39
1    58  80  ...  49  75
..   ..  ..  ...  ..  ..
998  62  76  ...  41  74
999  59  78  ...  68   6

[1000 rows x 50 columns]

In [15]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail()

     0   1   ...  48  49
995  50  84  ...  23  92
996  61  52  ...  41   1
..   ..  ..  ...  ..  ..
998  25  62  ...  40  82
999  25   3  ...  11  39

[5 rows x 50 columns]

In [17]:
pd.get_option("display.max_rows")

4

In [22]:
pd.options.display.max_columns = 20

In [23]:
pd.get_option("display.max_columns")

20

In [24]:
pd.reset_option("max_rows")

In [25]:
pd.get_option("display.max_rows")

60